<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750544801747-eghrtkp2cn4j32vkdok3gc84nmsk5e53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750544801747-eghrtkp2cn4j32vkdok3gc84nmsk5e53</string>
	<key>API_KEY</key>
	<string>AIzaSyBaERd6v3OA-zlczcjaHNXiY9azGkQdnso</string>
	<key>GCM_SENDER_ID</key>
	<string>750544801747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.tomoya.suzuki.TaskShare</string>
	<key>PROJECT_ID</key>
	<string>taskshare-ccb18</string>
	<key>STORAGE_BUCKET</key>
	<string>taskshare-ccb18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750544801747:ios:519fdd15bc246f195be926</string>
	<key>DATABASE_URL</key>
	<string>https://taskshare-ccb18.firebaseio.com</string>
</dict>
</plist>